

/*

font-family: "Open Sans", serif;

*/


/* nav styles */
.portfolio_nav{
    display: flex;
}
.portfolio_nav ul li{
    list-style: none;
}
.nav_title{
    font-family: "Open Sans", serif;
    font-weight: 800;
    font-size: 45px;
    color: #181818;
}
.nav_title span{
    color: #FD6E0A;
}